/* Header */
.header {
  font-size: 26px;
  letter-spacing: 1.8px;
  text-align: center;
  color: #241d1d;
  background: #f5f9ff;
}


#myHeader {
}

/* change from normal header to sticky header that follows as your scroll */
.sticky {
  opacity: 90%;
  position: sticky;
  top: 0;
  width: 100%;
}

/* contains welcome text */
.mySite {
  text-align: center;
  font-variant: small-caps;
  font-size: 22px;
  padding-bottom: 20px;
}


/* contains all elements and provides a border and font style for the entire resume */
.container {
  padding: 10px;
  border-style: solid;
  border-width: thick;
  max-width: 800px;
  margin: auto;
  font-family: Cormorant;
}

/* font */
@font-face {
  font-family: Cormorant;
  src: url(LiberationSerif-Regular-webfont.woff);
}

/* contains name */
.name {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-variant: small-caps;
  font-size: 18px;
  max-width: 500px;
  letter-spacing: 5px;

  background: #000000;
  background: -moz-linear-gradient(45deg, #000000 0%, #1B699B 46%, #A87D1E 100%);
  background: -webkit-linear-gradient(45deg, #000000 0%, #1B699B 46%, #A87D1E 100%);
  background: linear-gradient(45deg, #000000 0%, #1B699B 46%, #A87D1E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* contains bio section */
.bio {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  max-width: 500px;
  line-height: 24px;
  letter-spacing: 1.5px;
}

/* contains contact information */
.contact_info {
    justify-content: center;
    padding-bottom: 10px;
    margin-right: 70px;
}


.linkedin {
  text-align: center;
  float:left;
  width: 33.33%;
}


.email {
text-align: center;
float: left;
width: 33.33%;
}


.github {
text-align: center;
float: left;
width: 33.33%;
}


/* line break between top and bottom sections of the resume */
hr {
    width: 700px;
    justify-content: center;
    margin-top: 45px;
}

/* contains elements technical skills, certifications, work expierence, soft skills, and education */
.bottom {
  max-width: 500px;
  min-width: 500px;
  text-align: center;
  margin: auto;
}

/* contains the list of bottom elements */
#list {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  font-size: 18px;
  font-variant: small-caps;
  letter-spacing: 1.8px;

  background: #000000;
  background: -moz-linear-gradient(45deg, #000000 0%, #1B699B 46%, #A87D1E 100%);
  background: -webkit-linear-gradient(45deg, #000000 0%, #1B699B 46%, #A87D1E 100%);
  background: linear-gradient(45deg, #000000 0%, #1B699B 46%, #A87D1E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
